# branchsync config file

projects:
  "my-wonderful-project":
    repository-directory: "path/to/repo/dir/here"
    source:
      remote: "my-source-remote"
      branch: "my-source-branch"
    destination:
      remote: "my-destination-remote"
      branch: "my-destination-branch"
  "my-other-wonderful-project":
    repository-directory: "path/to/repo/dir/here"
    source:
      remote: "my-source-remote"
      branch: "my-source-branch"
    destination:
      remote: "my-destination-remote"
      branch: "my-destination-branch"
